*, .form-flat {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ededed;
    font-size: .9rem;
}

a, .btn-link, .page-link, a:hover, a:focus,
.btn-link:hover, .btn-link:focus,
.btn-outline-primary {
    color: #1a3c6c;
}

a:hover, a:focus, .btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.page-link,
div.dataTables_wrapper div.dataTables_info {
    font-size: .9rem;
}

.footer, .table-small, .btn-outline-primary {
    font-size: x-small;
}

.container {
    background-color: white;
}

.nav > .nav-item > .nav-link {
    margin: 3px;
}

.header-phone a {
    color: #a69484;
    float: right;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 1rem;
}

.header-wraper {
    transition: background .3s ease;
    background: url('../images/znak3.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.footer {
    color: #bdc2c7;
    padding: 1.7rem 0 2rem;
}

.pager {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 1rem;
}

.wheel {
    width: 1rem;
    height: 1rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.table-small {
    font-weight: bold;
}

.table-small td {
    border: 0;
}

.btn-outline-primary {
    background-color: transparent;
    background-image: none;
    border: 2px solid #1a3c6c;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color:  #1a3c6c;
    border: 2px solid #1a3c6c;
    color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active:hover,
.show>.btn-outline-primary.dropdown-toggle:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    background-color: transparent;
    border: 2px solid #1a3c6c;
    color: #1a3c6c;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    color: white;
    background-color: #1a3c6c;
    background-image: none;
    border: 2px solid #1a3c6c;
}

.page-item.active .page-link, .table .thead-dark th {
    background-color: #1a3c6c;
    border-color: #1a3c6c;
}

.table .thead-dark th a {
    color: white;
}

@media (min-width: 768px ) {
    .nav-bootom, .nav-next-bootom {
        position: absolute;
        bottom: 1rem;
    }
    .nav-next-bootom {
        right: 1rem;
    }
    .logo {
        position: relative;
        bottom: 1rem;
    }
}

fieldset {
    border: 1px solid #e0e0e0;
    padding: 1rem;
    margin: 1rem 0;
}

legend {
    width: auto;
    padding: 0 .5rem;
    font-size: 1rem;
}

.form-ghost {
    background: none;
    width: 100%;
    border: 0;
}

.btn-flat:focus,
.form-ghost:focus {
    outline:none;
}

textarea.form-ghost {
    height: 5rem;
}

.table-flat td,
.table-flat th {
    padding: .1rem .2rem;
}

.btn-flat,
.btn-flat-black {
    background: none;
    border: 0;
    cursor: pointer;
}
.btn-flat-black {
    color: black;
    text-align: left;
    float: left;
}
.btn-flat {
    color: white;
}

.table-flat .btn-add {
    width: 1rem;
    vertical-align: middle;
}

.table-in td {
    background: white;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

@media (min-width: 768px ) {
    .table-flat th.table-secondary {
        width: 16rem;
    }
}
@media (max-width: 768px ) {
    .table-flat th.table-secondary {
        width: 8rem;
    }
}

.nav-flex {
    padding: 0;
    margin: 0;
    display: flex;
    align-items : center;
    justify-content: space-around;
}

.wheel-big {
    cursor: move;
    height: 8rem;
    display : flex;
    align-items : center;
    text-align: center;
    background-color: silver;
    overflow: hidden;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    color: white;
    text-shadow: .5px .4px .3px #222;
    font-size: .8rem;
}
.wheel-big div {
    width: 100%;
}

@media (min-width: 768px ) {
    .nav-flex .table {
        margin: 1rem 0 0;
        width: 9rem;
    }
}
@media (max-width: 768px ) {
    .nav-flex .table {
        width: auto;
    }
}

.label-file {
    margin: 0;
}
.input-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.resize-width {
    width: 200px;
}
.resize-height {
    height: 100px;
}

.table-toggle thead tr.thead-dark th, .add-process, .del-process {
    cursor: pointer;
}

ul#table-sortable li {
    list-style-type: none !important;
}
body.dragging, body.dragging * {
    cursor: move !important;
}
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
ul#table-sortable li.placeholder {
    position: relative;
}
ul#table-sortable li.placeholder:before {
    position: absolute;
}

.color-archive * {
    color: #6c757d !important;
}
.with-process {
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}

.move {
    width: 1rem;
}
.form-date {
    padding: 0;
    margin: 0;
}
.check-active,
.color-process {
    color: white;
    position: absolute;
    top: .5rem;
    cursor: pointer;
}
.color-process {
    right: .5rem;
}
.check-active {
    left: .5rem;
}
.no-space {
    margin: 0;
    padding: 0;
}

#tableCreditPartner {
    list-style-type: none;
}

.owl-theme .owl-nav .owl-next, .owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 2.5rem;
}
.owl-theme .owl-nav .owl-next {
    right: 0;
}
.owl-theme .owl-nav .owl-prev {
    left: 0;
}
.owl-theme .owl-nav [class*=owl-] {
    color: silver;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background: none;
    display: inline;
    cursor: pointer;
    border-radius: 0;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
    color: #1a3c6c;
    text-decoration: none;
}

.paid-time b, .agreement-time b {
    font-size: .7rem;
}

.logo-size {
    max-width: 6rem;
    max-height: 4rem;
}

.element-carousel {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}

.file_contact_form > input {
    display: none;
}
.head-toggle-tranche,
.head-toggle-customer,
.head-toggle-partner,
.head-toggle-bank,
.file_contact_form > label {
    cursor: pointer;
}

.jexcel.bossanova-ui {
    width: 100%;
}
.jexcel_label {
    width: 1rem;
}
.datepicker i.icon-arrow-left:before,
.datepicker i.icon-arrow-right:before {
    font-style: normal;
}
.datepicker i.icon-arrow-left:before {
    content: "\003c";
}
.datepicker i.icon-arrow-right:before {
    content: "\003e";
}